asgiref
certifi
chardet
django
djangorestframework
idna
pyparsing
pytest-django
pytz
requests
six
sqlparse
urllib3
zipp
django-filter
djangorestframework-simplejwt
djoser
markdown
gunicorn
psycopg2-binary==2.9.1
Pillow
drf-extra-fields
reportlab
django-environ
django-cors-headers
