asgiref

certifi
chardet

django
django-filter
djangorestframework-simplejwt
djangorestframework
django-environ
django-cors-headers
djoser
drf-extra-fields

gunicorn

idna

markdown

pyparsing
pytest-django
pytz
psycopg2-binary==2.9.1
Pillow

reportlab
requests

six
sqlparse

urllib3

zipp
