asgiref==3.4.1
attrs==21.2.0
Django==3.2.7
django-environ==0.7.0
django-filter==2.4.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
gunicorn==20.1.0
importlib-metadata==4.8.1
iniconfig==1.1.1
isort==5.9.3
packaging==21.0
pluggy==1.0.0
psycopg2-binary==2.9.1
py==1.10.0
PyJWT==2.1.0
pyparsing==2.4.7
pytest==6.2.5
pytest-django==4.4.0
pytz==2021.1
sqlparse==0.4.2
toml==0.10.2
typing-extensions==3.10.0.2
zipp==3.5.0
